<h1>AVI FOODSYSTEMS INC.</h1>
<h2>Fresh Food Ordering</h2>
<br>


<%= form_tag("/startup/login", method: "get") do %>
    
    <%= label_tag(:Username, "Username:") %>
    <%= text_field_tag(:username) %>

    
    <table>
    <tr>
        <td>
            <form action = "/startup/login" >
                <input type ="submit" value="Login" action = "\startup\login" />
            </form>
        </td>
        
        </td>
        <td>
            <form action = "/startup/maintenance" >
                <input type ="submit" value="Maintenance" />
            </form>
        </td>
    </tr>    
    </table>
    
    <%= submit_tag("Search") %>
    
<% end %>



