<h1>AVI FOODSYSTEMS INC.</h1>
<h2>Fresh Food Ordering</h2>
<br>

<form action = "\startup\login" >
    <input type ="submit" value="Login" />
</form>

<form action = "\startup\maintenance" >
    <input type ="submit" value="Maintenance" />
</form>