/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */




/*
 General Table Formatting
*/

.table1{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 35%;   
    border: none;
    text-align: left;
    padding: 8px;
    }        

.table2{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    font-size: 14px;
    }

.table2 td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;        
    } 

.table2 tr{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;        
    }           

.tableheader1 tr{
    background-color: black;
    color: white;
    text-align: left;
    height: 40px;
    }

