<style>
  .Utr{border-collapse:collapse; padding:0px;}
  .Utc1{width:5%;font-weight:bold; text-align: left;}
  .Utc2{width:5%;font-weight:bold; text-align: right;}
</style>

<table>
  <tr class="Utr">
    <td class="Utc1">User: <%=session[:u]%></td>
    <td class="Utc2">Last Update: <%=session[:last_update]%></td>
  </tr>
</table>

